/*

Project Name: Cookie Monster
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org
Developed @ One Month in NYC

*/

body {
	background: url('../images/comic-book.jpg');
	/*background: url('../images/comic-book.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	margin:auto;
	background: #070005;
	width: 500px;
	color: white;
	padding: 15px;
	font-family: 'Akaya Telivigala', cursive;
}

h1 {font-size: 80px;
	text-align: center;

}

h2 {
	background: #B03A20;
	color: black;
	padding: 5px;
	border-radius: 5px;
	text-align: center
}

a[href]{
	color: #B03A20;
	text-decoration: none;
}

	/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
